{% extends "base.twig" %}

{% block content %}

    <div class="hero-wrapper">
        <div style="background-image: url('{{ Image(post.hero_image).src }}')" class="hero-left"></div>
        <div class="hero-right"></div>
    </div>

    <div class="hero-content">
        <h2>{{ post.hero_title }}</h2>
        <p>{{ post.hero_description }}</p>
        <a href="{{ site.link }}/contact"><div class="button_fill more-btn">Meer over mij</div></a>
    </div>

    <div class="info-wrapper">
        <div class="wrapper diensten">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-md-10 col-xs-12">
                    <div class="shift-content">
                        <h3>{{ post.services_title }}</h3>

                        <div class="slider center content-wrapper">
                            {% for post in services %}
                            <div class="slider_element">
                                <a href="{{ post.link }}">
                                    <div class="top-project">
                                        <div class="bg_cover"><div style="background-image: url('{{ Image(post.service_image).src }}')" class="background"></div></div>
                                        <div class="title_block">{{ post.title }}</div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>

        <div style="margin-bottom: 30px;" class="review-wrapper">
            <div class="wrapper">
                <div class="review-content">
                    <img class="quote" src="{{ theme.link }}/images/quote.png">
                    {% for post in review %}
                        <h2>{{ post.review_writer }}</h2>
                        <p>{{ post.review_text }}</p>
                        <a href="{{ post.link }}"><div class="button_fill">Bekijk project</div></a>
                    {% endfor %}
                </div>
            </div>
            <div class="background"></div>
        </div>

        <div class="projecten-wrapper">
            <div class="wrapper">
                <div class="producten-content">
                    <h3>{{ post.projects_title }}</h3>
                    <a style="margin: 20px 0;" href="{{ site.link }}/projecten" class="text_a"><h4>{{ post.projects_cta }}</h4></a>
                    <div class="row">
                        {% for post in projects %}
                            <div class="col-md-6 col-lg-3">
                                <a href="{{ post.link }}">
                                    <div class="top-project">
                                        <div class="bg_cover"><div style="background-image: url('{{ Image(post.project_thumbnail).src|resize(640) }}')" class="background"></div></div>
                                        <div class="title_block">{{ post.project_title }}</div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="wrapper agenda_form" class="row ">
                <div class="row">
                    <div class="col-12 col-md-5">
                        {% include 'partial/contact-agenda.twig' %}
                    </div>
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-6 form">
                        {% include 'partial/contact-form.twig' %}
                    </div>
                </div>
            </div>
        </div>



    </div>

    <script>
        $('.center').slick({
            centerMode: true,
            centerPadding: '60px',
            cssEase: 'linear',
            dots: true,
            prevArrow:'<button class="slider-arrows"><</button>',
            nextArrow:'<button class="slider-arrows">></button>',
            slidesToShow: 1,
            speed: 700,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
            ]
        });
    </script>
{% endblock %}
