<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}



		{#<h2><a href="{{post.link}}">{{post.project_title}}</a></h2>#}
		{#<p>{{post.project_subtitle}}</p>#}
		{#{% if post.project_thumbnail %}#}
			{#<img src="{{post.project_thumbnail}}" />#}
		{#{% endif %}#}
	{% endblock %}
</article>